<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="QRCoder" version="1.6.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="6.0.0" targetFramework="net472" />
  <package id="TwoFactorAuthenticator" version="1.1.0" targetFramework="net472" />
  <package id="TwoFactorAuthenticator.QrCoder" version="1.1.0" targetFramework="net472" />
</packages>